body{
    background-color: #313b2c; 
    color: white;
}
.items{
 padding-top: 20px;  
 
  
}
.items{
    display: flex;
   margin-left: 20PX; 
   font-size: small;
   gap: 10px;
   
    
}
    
.header{
    justify-content: center;
    display: flex;
    margin-top: -20px;
    font-family: cinzel;
    
    
}
.log{
    margin-left: 540px;
    margin-top: -55px;
    gap: 20px; 
    
}


.Box{
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-top: solid wthite 1px;
    gap: 15px;
    margin-left: 260px;
    padding-top: 10PX;
    font-size: 12px;
    
    
}
.box1{
    margin-left: 590px;
    
    background-color: rgba(245, 245, 220, 0.726);
    margin-top: -25px;
    width: 1px;
    font-size: 10px;
    height: 35px;
    width: 90px;
    color: black;
    padding: 10px 15px;
    
  
}
.box-items{
    display: flex;
    gap: 15px;
    justify-content: center;

    color: white;
    font-size: x-large;
    margin-bottom: -280px;
    font-family: cinzel;
   

}
.box2{
 display: flex;
 justify-content: center;
 margin-top: 80px;
 margin-bottom: 10px;
 font-size: 12px;
 font-family: cinzel;
  
}

.body{
    display: flex;
    margin-right: 150px
    
    
}
.box3{
    margin-top: 300px;
   
}
.box4{
    display: flex;
    align-items: center;
    justify-content: center;
padding-top: 50px;
padding-left: 65px;
font-size: 25px;
font-family: cinzel;
}
.box5{
    display: flex;
justify-content: space-around;
   padding-top: 30px;
   padding-left: 50px;
   padding-bottom: 40px;
   font-family: cinzel;
  

}
.container{
    display: flex;
    justify-content: space-around;
    font-size: 10px;
   margin-bottom: -10px;
}
.learn-more{
    display: flex;
    justify-content: center;
    text-align: center;
}
.l{
    display: flex;
    justify-content: space-around;
    font-size: 10px;
    text-decoration: underline;
    margin-bottom: 80px;

}
.container1{
    display: flex;
border-top: solid white 1px;
width: 650px;
margin-left: 40px;
margin-right: 100px;
justify-content: flex-end;
font-size: 18px;
padding-top: 20px;
font-family:  cinzel;

}
.section{
    display: flex;
    justify-content: flex-start;
    
}
.section1{
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
}
.container2{
    display: flex;
    font-size: 10px;
    margin-top: -45px;
    margin-left: 35px;
    font-family: cinzel;
    
   
    

}
.box9{
    display: flex;
    width: 200px;
    padding-left: 35px;
    padding-top: 40px;
    
   
    
}
.container3{
display: flex;
margin-top: 30px;
justify-content: space-around;
margin-top: -50px;


}
.box10{
    display: flex;
    justify-content: space-around;
    margin-top: -120px;
    font-size: 10px;
    margin-left: 320px;
}
.box11{
    text-decoration: underline;
}
.box12{
    margin-left: 200px;
    margin-top: -120px;
}
.box13{
    text-decoration: underline;
    margin-bottom: 100px;
    
}
.container7{
    padding-top: 20px;
    border-top: solid white 1px;
    width: 650px;
    display: flex;
    margin-left: -280px;
    font-family: cinzel;

}
.container8{
    margin-top: -30px;
    margin-left: 40px ;
    font-size: 15px;
}
.pic{
 margin-left: -280px;
}
.container9{
    margin-top: -220px;
    margin-left: 39px;
    margin-bottom: 30px;
}
.container10{
    border: solid rgba(245, 245, 220, 0.726) 1px;
    height: 40px;
    width: 170px;
    background-color:rgba(245, 245, 220, 0.726);
    color: black;
    margin-left: 35px;
    padding-top: 12px;
    padding-left: 25px;
    cursor: pointer;
    margin-bottom: 150px;

}
.container11{
    border-top: solid white 1px;
    width: 650px;
    padding-top: 20px;
    margin-left: -280px;
}
.container12{
    display: flex;
    margin-left: -280px;
    gap: 12px;
    margin-bottom: 20px;
    margin-top: 15px;
}
.container13{
    display: flex;
    margin-left: -280px;
    gap: 50px;
    margin-bottom: 60px;
    
}
.container014{
    width: 720px;
    height: 150px;
    background-color: rgb(183,187,191);
    color: black;
    font-size: xx-large;
    margin-left: -320px;
    font-family: cinzel;
}
.container14{
    display: flex;
    justify-content: center;
    
    padding-top: 20px;
    margin-bottom: 60px;
    font-size: 15px;  
    font-family: ruda;
    margin-left: 60px;
    cursor: pointer;
    font-family: cinzel;
  }
    .container15{
        display: flex;
        justify-content: center;
        background-color: beige;
        margin-top: -35px;
        width: 1px;
        font-size: 10px;
        height: 35px;
        width: 180px;
    color: black;
    padding: 10px 15px;
    margin-left:200px;
    gap: 20px;
    margin-bottom: 25px;
    cursor: pointer;
    
    
    }
    .container16{
        padding: 10px 10px;
        font-size: 10px;
        background-color: black;
        color: white;
        width: 70px;
        margin-left: 390px;
        margin-top: -60px;
        margin-bottom: 5px;
        cursor: pointer;

    }